<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/dashboard-content.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/inventory-content.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/orders-content.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/accounts-content.css" media="screen" title="no title" charset="utf-8">
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<title>Global Vine</title>
</head>

<body>
  {{{body}}}
</body>

</html>
