
  <div class="container-fluid-img">
    <div class="row">
 
      <!--........spacer column............-->
      <div class="hidden-xs col-sm-3 col-md-4 col-lg-4"></div>

      <!--........start of Form column............-->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 d-flex flex-column" id="login-background">
        <div class="logo-box"></div>
        <div class="signup-box">
        <form class="clearfix" method="POST" action="signin">
          <div class="container">
            <div class="text"><h1>Global Vine</h1></div>
            <div class="input-group" style="border-radius:5px 5px 0 0;">
              <input id="input-field" class="form-control" type="text" name="email" placeholder="Email address">
            </div>

            <div class="input-group" style="border-radius:0 0 5px 5px;">
              <input id="input-field" class="form-control" type="password" name="password" placeholder="Password">
            </div>

            <button type="submit" class="login" id="login">Login</button>
          </div>
          

        </div>
      </form>
      <a style="color:rgb(214, 214, 214); margin:2px 2px 5px 2px !important;" href="/signup">Not Registered?</a>
    </div>
  </div>

    <!--........spacer column............-->
    <div class="hidden-xs col-sm-2 col-md-4 col-lg-4"></div>
  </div>
</div>
<!--......end of background........-->



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>