<!--Top Row for columns-->
<div class="container-fluid d-flex flex-wrap-reverse">

<!--favicon-->
<div class="col-sm-12 col-md-12 col-lg-8 d-flex" id= "navigation-box">
  <i class="fa fa-hacker-news fa-4x" aria-hidden="true" id="favicon"></i>

<!--collapsible navigation-->
  <div class="topnav" id="myTopnav">
    <a class="active">Dashboard</a>
    <a href="/mycellar">My Cellar</a>
    <a href="/contacts">Contacts</a>
    <a href="/orders">Orders</a>
    <a href="javascript:void(0);" class="icon" onclick="collapsClick()">
      <i class="fa fa-bars"></i>
      </a>
    </div>
  <br>
</div>

<!--header column 2-->
    <div class="col-sm-12 col-md-12 col-lg-4 d-flex flex-row-reverse">

<!--profile and logout dropdown--> 
  <div class="admin-login">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Username</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Profile</a>
            <a href="#about">News Feed</a>
            <a href="/">Log Out</a>
          </div>
      </div>
<!--User logo......Favicon-->
  <div class="userLogo"><i class="fa fa-user-circle fa-3x" aria-hidden="true" id="favicon"></i></div>
  <div class="logoutBumper"></div>
    </div>  
  </div>
</div>

    

<!--background and body container dashboard contents-->
<div class="container-fluid" id="data-page">
<div class="row d-flex flex-wrap">
<div class="col-lg-2 col-md-2 hidden-sm hidden-xs" style="border:solid 2px yellow"></div>
<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="border:solid 2px yellow; padding:0!important; align-self:center;" id="scrollable">


<div class="col-md-12" style="border:solid 2px red; height:800px; border-radius:6px;">
  <label style="margin-left:5px;"><h2>Maybe Make A Post</h2><input type="text" placeholder="Post"><button class="btn btn-success btn-sm" style="float-right">submit!</button></label>
  <div class="news-card-box d-flex flex-column justify-content-center" style="border:solid 2px red; padding-top:10px; height:690px;overflow-y: scroll;">

<!--Scrollable content for news feed-->
<!--Should Just need one to append our AJAX calls to-->
 <div class="card d-flex mt-3" style="width: 22rem; border:1px solid grey;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="p-2 card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>


<div class="card mt-3" style="width: 22rem; align-self:center; border:1px solid grey; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>

<div class="card mt-3" style="width: 22rem; align-self:center; border:1px solid grey;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>

<div class="card mt-3" style="width: 22rem; align-self:center; border:1px solid grey;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>

<div class="card mt-3" style="width: 22rem; align-self:center; border:1px solid grey;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>

<div class="card mt-3" style="width: 22rem; align-self:center; border:1px solid grey;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <img class="card-img-top" src="https://placehold.it/280x210" alt="Card image cap">
  <div class="card-body">
    <h4 class="title-card">How About a Title!!</h4>
    <p class="card-text">Maybe the Author can be quoted here?</p>
    <p class="card-text">I guess a link?<button class="button" style="float:right;">or a Button?</button></p>
  </div>
</div>



</div>
</div>
</div>




<!--right column/ messaging/orders/cellar-->
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="border:solid 2px rgb(0, 251, 255); height:800px;" id="scrollable">
<!--Dashboard contacts chart-->
<div class="row" style="border:solid 2px red; height:400px;">
<div class="col-md-12" style="border:solid 5px rgb(38, 255, 0); padding-top:22px;">
<div class="card border-secondary " style="min-width: 43rem; max-width: 43rem; border:solid 2px; height:330px;">
  <div class="card-header" style="height: 55px;"><h3>ChatterBox</h3></div>
  <div class="card-body text-secondary d-flex justify-content-around" style="border:solid 2px rgb(247, 0, 255);padding:5px 2px 8px 2px!important;">




<!--Little Div for message box// notice the red borders for easier navigation-->

<div class="p-2 col-md-9" style="border:solid 2px red;">
  <label style="margin-left:5px;">Messages:</label>
  <div class="message-box" style="border:solid 2px red;">
  <ul class="messages" style="height:150px;overflow-y: scroll;">
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li></br>
    </ul>
  </div>

<div style="margin: 15px 0 0 5px;">
<input type="text" placeholder="message"><button class="btn btn-success btn-sm" type="button">Send</button>
</div>
</div>

  

<!--Little Div for chat names// notice the red borders for easier navigation-->
<div class="p-2 col-md-3 float-right" style="border:solid 2px red;">
    <label style="margin-left:5px;">online</label>
    <div class="good-place-for-names" style="border:solid 2px red;padding-left:3px;height:170px;overflow-y: scroll;">
      <p>Susie Que</br>Beth Assing</br>Julie Foo</br>Big Ben</br>Super manSusie Que</br>Beth Assing</br>Julie Foo</br>Big Ben
      </br>Super manSusie Que</br>Beth Assing</br>Julie Foo</br>Big Ben</br>Super man</br>Julie Foo</br>Big Ben</br>Super man</p>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<!--Dashboard orders and cellar chart-->
<div class="row d-flex flex-wrap" style="border:solid 2px red">
<!--Dashboard your cellar chart-->
<div class="col-md-6" style="border:solid 5px rgb(38, 255, 0); padding-top:10px;">
  <div class="card border-secondary" style="min-width: 20rem; max-width: 20rem;">
    <div class="card-header" style="height: 55px;"><h3>Your Cellar</h3></div>
      <div class="card-body text-secondary" style="border:solid 2px red;">

        <h5 class="card-title" style="color:black; margin-left:6px;">29 Cases</h5>
         <div class="good-place-for-names" style="border:solid 2px red;padding-left:3px;height:170px;overflow-y: scroll;">
          <p class="card-text">2 cases Merlot.</br>2 cases Bordeaux.</br>2 cases Bordeaux.</br>10 cases Chardonay.</br>4 cases Haux Medoc.</br>10 cases Chardonay.</br>4 cases Haux Medoc.</br>7 cases Pinot Grigio.</br>4 cases Sparkling.</br>4 cases Haux Medoc.</br>7 cases Pinot Grigio.</br>4 cases Sparkling.</br></p>
        </div>
        <p><hr>25 pending case orders</p>
    </div>
</div>
</div>



<!--Dashboard orders Dashboard chart-->
<div class="col-md-6" style="border:solid 5px rgb(38, 255, 0); padding-top:10px;">
  <div class="card border-secondary" style="min-width: 20rem; max-width: 20rem;">
    <div class="card-header" style="height: 55px;"><h3>Orders</h3></div>
      <div class="card-body text-secondary" style="border:solid 2px red;">

        <h5 class="card-title" style="color:black; margin-left:6px;">Orders Processing:</h5>
         <div class="good-place-for-names" style="border:solid 2px red;padding-left:3px;height:170px;overflow-y: scroll;">
          <p class="card-text">2 cases Merlot.</br>2 cases Bordeaux.</br>2 cases Bordeaux.</br>10 cases Chardonay.</br>4 cases Haux Medoc.</br>10 cases Chardonay.</br>4 cases Haux Medoc.</br>7 cases Pinot Grigio.</br>4 cases Sparkling.</br>4 cases Haux Medoc.</br>7 cases Pinot Grigio.</br>4 cases Sparkling.</br></p>
        </div>
        <p><hr>25 pending case orders</p>
    </div>
</div>
</div>




</div><!--end of small dashboard items-->

</div><!-- end right column-->


</div><!--end large row container-->


</div><!--end backgorund div-->







</div>

<script>
function collapsClick() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>



<!--Dashboard messages chart
<div class="row d-flex flex-wrap">
<div class="card border-secondary m-3" style="min-width: 19rem; max-width: 19rem;">
  <div class="card-header"><h3>Messages</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black">Inbox</h5>
    <p class="card-text">
      <b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Carol Smith.</b></br>Dear Emmanuel, I am call..</br>
      </br><b>Steven Fella.</b></br>Hey Buddy, Can you..</br>
      </br><b>Jimmy Dean.</b></br>Dont forget about my wine..</br>
      </br><b>Susan Kimmel.</b></br>Dear Emmanuel, Thanks again..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </p>
  </div>
</div>
</div>




<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Carol</td>
      <td>Locklear</td>
      <td>@truebert</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jack</td>
      <td>Bean</td>
      <td>@fingerhut</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Vines And More</td>
      <td>@vinesnmore</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Kat</td>
      <td>Black</td>
      <td>@blackcat</td>
    </tr>
    <tr>
     <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Stevo</td>
      <td>Winger</td>
      <td>@winger</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>BlueBird</td>
      <td>Songman</td>
      <td>@singer</td>
    </tr>
        <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Cedar Hills Wine Cellars</td>
      <td>@cedarhills</td>
    </tr>
    <tr>
     <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jingo</td>
      <td>Sway</td>
      <td>@swayjo</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Glass Hill Vines</td>
      <td>glasshill</td>
    </tr>
  </tbody>
</table>-->