<!--Top Row for columns-->
<div class="container-fluid d-flex flex-wrap-reverse">

<!--favicon-->
<div class="col-sm-12 col-md-12 col-lg-8 d-flex" id= "navigation-box">
  <i class="fa fa-hacker-news fa-4x" aria-hidden="true" id="favicon"></i>

<!--collapsible navigation-->
  <div class="topnav" id="myTopnav">
    <a href="/admin">Dashboard</a>
    <a href="/mycellar">My Cellar</a>
    <a class="active">Contacts</a>
    <a href="/orders">Orders</a>
    <a href="javascript:void(0);" class="icon" onclick="collapsClick()">
      <i class="fa fa-bars"></i>
      </a>
    </div>
  <br>
</div>

<!--header column 2-->
    <div class="col-sm-12 col-md-12 col-lg-4 d-flex flex-row-reverse">

<!--profile and logout dropdown--> 
  <div class="admin-login">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Username</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Profile</a>
            <a href="#about">News Feed</a>
            <a href="/">Log Out</a>
          </div>
      </div>
<!--User logo......Favicon-->
  <div class="userLogo"><i class="fa fa-user-circle fa-3x" aria-hidden="true" id="favicon"></i></div>
  <div class="logoutBumper"></div>
    </div>  
  </div>
</div>

    
<!--background and body container dashboard contents-->
<div class="container-fluid d-flex flex-wrap" id="data-page">

<!--Clients table-->
<div class="card border-secondary mt-5 ml-5" style="min-width: 70rem; max-width: 70rem;">
  <div class="card-header"><h3>Clients</h3></div>
  <div class="card-body text-secondary">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Country</th>
      <th scope="col">Account Status</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
     <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!--messages Table-->
  <div class="card border-secondary mt-5 ml-5" style="min-width: 20rem; max-width: 20rem;">
  <div class="card-header"><h3>Messages</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black">Inbox</h5>
    <p class="card-text">
      <b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Carol Smith.</b></br>Dear Emmanuel, I am call..</br>
      </br><b>Steven Fella.</b></br>Hey Buddy, Can you..</br>
      </br><b>Jimmy Dean.</b></br>Dont forget about my wine..</br>
      </br><b>Susan Kimmel.</b></br>Dear Emmanuel, Thanks again..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </p>
  </div>
</div>
</div>

<script>
function collapsClick() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>