<!--<div class= "bg">-->
<!--<div class="container-fluid" style="border: solid 2px rgb(167, 255, 4);"-->
<div class="container-fluid d-flex flex-wrap-reverse" style="border: solid 4px rgb(0, 255, 42);">


<!--navbar collapse collapsible Navbar-->
<div class="col-sm-12 col-md-12 col-lg-8" style="border: solid 2px rgb(255, 60, 0);">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
  <i class="fa fa-hacker-news fa-4x" aria-hidden="true" id="favicon"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs nav-justified" style="width:100%;">
      <li class="nav-item">
        <a class="nav-link p-2" href="/admin">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="/inventory">Your Cellar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link p-2" href="/accounts">Clients<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<br>
</div>

<!--profile and logout dropdown-->
    <div class="col-sm-12 col-md-12 col-lg-4" style="border: solid 2px rgb(255, 60, 0); float:right;">
      <div class="admin-login">
          <div class="dropdown dropleft float-right">
            <i class="fa fa-podcast fa-4x" aria-hidden="true" id="favicon"></i>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Emmanuel</button>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--background and body container-->
<div class="container-fluid d-flex flex-wrap mt-2" style="display: block; overflow:auto; height:100%; align-items: start; color: rgb(87, 36, 59);;!important;" id="data-page">

<!--Clients table-->
<div class="card border-secondary mt-5 ml-5" style="min-width: 70rem; max-width: 70rem;">
  <div class="card-header"><h3>Clients</h3></div>
  <div class="card-body text-secondary">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Country</th>
      <th scope="col">Account Status</th>
      <th scope="col">email</th>
      <th scope="col">phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
     <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
       <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<!--messages Table-->
  <div class="card border-secondary mt-5 ml-5" style="min-width: 20rem; max-width: 20rem;">
  <div class="card-header"><h3>Messages</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black">Inbox</h5>
    <p class="card-text">
      <b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Carol Smith.</b></br>Dear Emmanuel, I am call..</br>
      </br><b>Steven Fella.</b></br>Hey Buddy, Can you..</br>
      </br><b>Jimmy Dean.</b></br>Dont forget about my wine..</br>
      </br><b>Susan Kimmel.</b></br>Dear Emmanuel, Thanks again..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </p>
  </div>
</div>
</div>