<!--<div class= "bg">-->
<!--<div class="container-fluid" style="border: solid 2px rgb(167, 255, 4);"-->
<div class="container-fluid d-flex flex-wrap-reverse" style="border: solid 4px rgb(0, 255, 42);">


<!--navbar collapse collapsible navbar-->
<div class="col-sm-12 col-md-12 col-lg-8" style="border: solid 2px rgb(255, 60, 0);">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
  <i class="fa fa-hacker-news fa-4x" aria-hidden="true" id="favicon"></i>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs nav-justified" style="width:100%;">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventory">Your Cellar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/accounts">Clients</a>
      </li>
    </ul>
  </div>
</nav>
<br>
</div>

<!--profile and logout dropdown-->
    <div class="col-sm-12 col-md-12 col-lg-4" style="border: solid 2px rgb(255, 60, 0); float:right;">
      <div class="admin-login">
          <div class="dropdown dropleft float-right">
            <i class="fa fa-podcast fa-4x" aria-hidden="true" id="favicon"></i>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Emmanuel</button>
          <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="/">Log Out</a>
        </div>
      </div>
    </div>
  </div>

</div>

    
<!--background and body container dashboard contents-->
<div class="container-fluid d-flex flex-wrap mt-2" style="display: block; overflow:auto; height:100%; align-items: start; color: rgb(87, 36, 59)!important;" id="data-page">

<!--Dashboard contacts chart-->
<div class="card border-secondary m-3" style="min-width: 35rem; max-width: 35rem;">
  <div class="card-header"><h3>Contacts</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black"> Buy Sell Trade and Connect...</h5><h6>..With Global Vine.</h6>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Carol</td>
      <td>Locklear</td>
      <td>@truebert</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jack</td>
      <td>Bean</td>
      <td>@fingerhut</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Vines And More</td>
      <td>@vinesnmore</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Kat</td>
      <td>Black</td>
      <td>@blackcat</td>
    </tr>
    <tr>
     <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Stevo</td>
      <td>Winger</td>
      <td>@winger</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>BlueBird</td>
      <td>Songman</td>
      <td>@singer</td>
    </tr>
        <tr>
      <th><div style="float:left; background-color:chartreuse; height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Cedar Hills Wine Cellars</td>
      <td>@cedarhills</td>
    </tr>
    <tr>
     <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td>Jingo</td>
      <td>Sway</td>
      <td>@swayjo</td>
    </tr>
    <tr>
      <th><div style="float:left; background-color:rgba(53, 32, 33, 0.404); height:15px; width:15px; border-radius:10px; align:baseline; margin-right:3px;"></div></th>
      <td colspan="2">Glass Hill Vines</td>
      <td>glasshill</td>
    </tr>
  </tbody>
</table>

</div>
</div>


<!--Dashboard messages chart-->
<div class="card border-secondary m-3" style="min-width: 19rem; max-width: 19rem;">
  <div class="card-header"><h3>Messages</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black">Inbox</h5>
    <p class="card-text">
      <b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Carol Smith.</b></br>Dear Emmanuel, I am call..</br>
      </br><b>Steven Fella.</b></br>Hey Buddy, Can you..</br>
      </br><b>Jimmy Dean.</b></br>Dont forget about my wine..</br>
      </br><b>Susan Kimmel.</b></br>Dear Emmanuel, Thanks again..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </br><b>Bobby Burnet.</b></br>Hello Emmanuel, Thank..</br>
      </p>
  </div>
</div>


<!--Dashboard orders chart-->
<div class="card border-secondary m-3" style="min-width: 19rem; max-width: 19rem;">
  <div class="card-header"><h3>15 orders</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black"> Orders processing...</h5>
    <p class="card-text">2 packaging.</br>5 shipping.</br>8 pending.</br</p>
  </div>
</div>


<!--Dashboard your cellar chart-->
<div class="card border-secondary m-3" style="min-width: 19rem; max-width: 19rem;">
  <div class="card-header"><h3>Your Cellar</h3></div>
  <div class="card-body text-secondary">
    <h5 class="card-title" style="color:black">29 Cases</h5>
    <p class="card-text">2 cases Merlot.</br>2 cases Bordeaux.</br>10 cases Chardonay.</br>4 cases Haux Medoc.</br>7 cases Pinot Grigio.</br>4 cases Sparkling.</br><hr><hr>25 pending case orders</p>
  </div>
</div>


</div>





