<div class="row-nav">
<nav class="navbar navbar-light bg-light">

<div class="col-md-10-dash">
<!--NavBar tabs-->
  <ul class="nav nav-tabs" id="group-tab">
    <!--left corner font awesome logo-->
     <i class="fa fa-hacker-news fa-3x" aria-hidden="true" id="favicon"></i>
    <li class="nav-item" id="tab-style">
      <a class="nav-link" id="tab-link" href="/admin">Dashboard</a>
    </li>
    <li class="nav-item" id="tab-active-style">
      <a class="nav-link active" id="tab-active-link" href="/orders">Orders</a>
    </li>
    <li class="nav-item" id="tab-style">
      <a class="nav-link" id="tab-link" href="/inventory">Inventory</a>
    </li>
    <li class="nav-item" id="tab-style">
      <a class="nav-link" id="tab-link" href="/accounts">Accounts</a>
    </li>
  </ul>
</div>

<!--Admin LogIn-->
  <div class="col-md-2-dash">
    <div class="admin-login">
      <form class="form-inline">
      <button class="btn btn-dark btn-lg" type="submit">Log In</button>
      <i class="fa fa-male fa-3x" aria-hidden="true" id="favicon"></i>
      </form>
    </div>
  </div>
</nav>

</div> <!--....end of navigation row for bootstrap columns.....-->


<!--background and body container-->
<div class= "bg">
<div class="container-fluid" id="data-page"








</div>
</div>